body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:834px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:78px;
  width:339px;
  height:510px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:79px;
  width:337px;
  height:508px;
  overflow:hidden;
}
#u229_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:508px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u229_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:731px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-19px;
  width:436px;
  height:731px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:508px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u229_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:730px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:-19px;
  width:435px;
  height:730px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:78px;
  width:339px;
  height:510px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:78px;
  width:339px;
  height:24px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:13px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:84px;
  width:94px;
  height:13px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:105px;
  width:284px;
  height:40px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:108px;
  width:269px;
  height:34px;
}
#u237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:114px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:181px;
  width:329px;
  height:407px;
  overflow:hidden;
}
#u239_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:407px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u239_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:108px;
}
.u241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:108px;
}
.u241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
.u242 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:0px;
  width:201px;
  height:33px;
  text-align:left;
}
.u242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:197px;
  word-wrap:break-word;
}
.u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
.u243 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:43px;
  width:56px;
  height:20px;
  text-align:left;
}
.u243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
.u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
.u244 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:72px;
  width:125px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
.u244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
.u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
.u245 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:112px;
  width:328px;
  height:1px;
}
.u245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:29px;
}
.u246 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:39px;
  width:54px;
  height:29px;
}
.u246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u240-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:113px;
}
#u240-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:329px;
  height:113px;
}
#u240-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:226px;
  width:329px;
  height:113px;
}
#u240-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:339px;
  width:329px;
  height:113px;
}
#u240-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:452px;
  width:329px;
  height:113px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:565px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:152px;
  width:77px;
  height:29px;
}
#u247_img.selected {
}
#u247.selected {
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:152px;
  width:77px;
  height:29px;
}
#u248_img.selected {
}
#u248.selected {
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:152px;
  width:77px;
  height:29px;
}
#u249_img.selected {
}
#u249.selected {
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:205px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:49px;
  width:300px;
  height:205px;
  text-align:left;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:537px;
  width:313px;
  height:50px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:309px;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:108px;
  height:31px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:560px;
  width:93px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:328px;
  width:296px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:544px;
  width:385px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:347px;
  width:0px;
  height:0px;
}
#u255_seg0 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-4px;
  width:83px;
  height:8px;
}
#u255_seg1 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-184px;
  width:8px;
  height:188px;
}
#u255_seg2 {
  border-width:0px;
  position:absolute;
  left:-122px;
  top:-184px;
  width:47px;
  height:8px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:-80px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
